@import "fonts.scss";

// ----------------------------------------------------------------------------------
$color_1: #ffffff;
$color_2: #080829;
$color_3: #3f53d8;
$color_4: #222222;
$color_5: #000000;
$color_6: #545479;

// ----------------------------------------------------------------------------------
%tpl_1 {
  position: absolute;
  display: inline-block;
}

%tpl_2 {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// ----------------------------------------------------------------------------------
@mixin font($fz, $lh, $ls) {
  font-size: $fz;
  line-height: $lh;
  letter-spacing: $ls;
}

// ----------------------------------------------------------------------------------
.title {
  @include font(42px, 56 / 42 * 100%, 1.44px);
  font-weight: 400;
  text-align: center;
  margin: 0px 0px 28px 0px;
  @media (max-width: 767.98px) {
    @include font(36px, 56 / 42 * 100%, 1.44px);
  }
  @media (max-width: 479.98px) {
    @include font(28px, 56 / 42 * 100%, 1.44px);
  }
}

.description {
  @include font(18px, 29px, 0.36px);
  color: $color_6;
  margin: 0;
  text-align: center;
}

.btn {
  display: inline-block;
  // padding: 16px 36px 23px 36px;
  padding: 15px 38px 24px 38px;
  @include font(18px, 20 / 18 * 100%, 0.4px);
  text-align: center;
  color: $color_1;
  background: $color_3;
  border-radius: 14px;
  border: 1px solid $color_3;
  cursor: pointer;
  transition: all 0.3s ease 0s;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }
}

.circle {
  @extend %tpl_1;
  top: 445px;
  left: 0px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #a259ff;
}

// ----------------------------------------------------------------------------------
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: $color_2;
}

body._lock {
  overflow: hidden;
}

// ----------------------------------------------------------------------------------
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

// -----------------------------------------------------------------------------------
._container {
  max-width: 1296px;
  padding: 0 15px;
  margin: 0 auto;
}

// -----------------------------------------------------------------------------------
.header {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 61px;
    padding: 20px 15px;
  }

  &__column {
    display: flex;
    &_last {
      &.done {
        @media (max-width: 767.98px) {
          flex-direction: column;
          align-items: center;
          margin: 0px 0px 50px 0px;
        }
      }
    }
  }

  &__logo {
    position: relative;
    width: 150px;
    height: 45px;
    & img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1001;
    }
  }

  &__btn {
    display: none;
    @media (max-width: 991.98px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__burger {
    @media (max-width: 991.98px) {
      border: none;
    }
  }

  &__link-basket {
    margin: 0px 27px 0px 0px;
    @media (max-width: 767.98px) {
      margin: 0px 0px 50px 0px;
    }
  }

  &__button {
    @include font(18px, 20px, 0.4px);
    padding: 16px 38px 23px;
    text-align: center;
    color: $color_2;
    background: none;
    border: 1px solid rgba(8, 8, 41, 0.2);
    border-radius: 14px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover,
    :active {
      color: $color_1;
      background-color: $color_3;
    }
  }
}

.menu {
  @media (max-width: 991.98px) {
    &._active .menu__body {
      left: 0;
    }
  }

  &__body {
    @media (max-width: 991.98px) {
      position: fixed;
      top: 0;
      left: -100%;
      z-index: 1000;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: $color_1;
      transition: left 0.3s ease 0s;
    }
  }

  &__list {
    display: flex;
    @extend %tpl_2;
    @media (max-width: 991.98px) {
      flex-direction: column;
      align-items: center;
      padding: 150px 0px 0px 0px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin: 0px 30px 0px 0px;
    }

    @media (max-width: 991.98px) {
      &:not(:last-child) {
        margin: 0px 0px 80px 0px;
      }
      margin: 0px 0px 80px 0px;
    }

    @media (max-width: 767.98px) {
      &:not(:last-child) {
        margin: 0px 0px 40px 0px;
      }
      margin: 0px 0px 50px 0px;
    }
  }

  &__link {
    &:hover {
      background-color: $color_3;
      color: #ffffff;
      border-radius: 10px;
      transition: all 0.3s ease 0s;
    }

    @include font(17px, 18 / 17 * 100%, 0.18px);
    color: $color_4;
    text-decoration: none;

    @media (max-width: 991.98px) {
      font-size: 45px;
    }

    @media (max-width: 767.98px) {
      font-size: 24px;
    }
  }
}

.burger {
  @media (max-width: 991.98px) {
    position: relative;
    display: block;
    width: 40px;
    height: 35px;
    background-color: $color_1;
    transition: all 0.3s ease 0s;
    position: absolute;
    right: 60%;
    z-index: 1001;
    cursor: pointer;
    @media (max-width: 767.98px) {
      right: 15px;
    }

    & span,
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 4px;
      border-radius: 5px;
      background-color: $color_3;
      transition: all 0.3s ease 0s;
    }

    & span {
      top: 50%;
      transform: scale(1) translate(0, -50%);
    }

    &::before {
      top: 0;
      transition: top 300ms 300ms,
        transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    &::after {
      bottom: 0;
      transition: bottom 300ms 300ms,
        transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    &._active {
      right: 15px;
      transition: all 0.3s ease 0s;
    }

    &._active span {
      transform: scale(0) translate(0, -50%);
      transition: transform 400ms cubic-bezier(0.68, -0.55, 0, 1.55);
    }

    &._active::before {
      /* 4px height + 11.5px margin-bottom до span*/
      top: 15.5px;
      transform: rotate(45deg);
      transition: top 300ms,
        transform 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55);
    }

    &._active::after {
      /* 4px height + 11.5px margin-top до span*/
      bottom: 15.5px;
      transform: rotate(-45deg);
      transition: bottom 300ms,
        transform 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55);
    }
  }
}

.basket {
  display: flex;
  align-items: center;
  height: 100%;
  &__icon {
    margin: 0px 8px 0px 0px;
  }

  &__text {
    @include font(17px, 18 / 17 * 100%, 0px);
    color: $color_5;
    margin: 0px 16px 0px 0px;
  }

  &__counter {
    @include font(11px, 18 / 11 * 100%, 0px);
    padding-top: 4px;
    text-align: center;
    color: $color_3;
  }
}

// ---------------------------------------------------------------------------
.transform {
  margin-bottom: 47px;
  @media (max-width: 767.98px) {
    margin-bottom: 0;
  }
  &__top {
    display: flex;
    margin-bottom: 70px;
    @media (max-width: 991.98px) {
      flex-direction: column;
    }
    @media (max-width: 479.98px) {
      margin-bottom: 30px;
    }
  }

  &__column {
    &_left {
      max-width: 637px;
      padding: 124px 0px 0px 47px;
      @media (max-width: 767.98px) {
        padding: 60px 0px 0px 20px;
      }
      @media (max-width: 479.98px) {
        padding: 40px 0px 0px 0px;
      }
    }

    &_right {
      position: relative;
      max-width: 658px;
      width: 100%;
      min-height: 761px;
      margin: 0 auto;
      @media (max-width: 479.98px) {
        min-height: 780px;
      }
    }
  }

  &__title {
    display: inline-block;
    margin: 0px 90px 34px 0px;
    max-width: 470px;
    @include font(63px, 79 / 63 * 100%, 2.16px);
    color: $color_2;
    @media (max-width: 767.98px) {
      @include font(40px, 79 / 63 * 100%, 2.16px);
    }
    @media (max-width: 479.98px) {
      @include font(32px, 79 / 63 * 100%, 2.16px);
    }
  }

  &__text {
    display: inline-block;
    max-width: 495px;
    margin: 0px 0px 22px 0px;
    @include font(18px, 29 / 18 * 100%, 0.36px);
    color: $color_2;
  }

  &__btn-wrapper {
    display: flex;

    @media (max-width: 479.98px) {
      justify-content: center;
    }
  }

  &__button {
    margin: 20px 34px 26px 0px;

    @media (max-width: 767.98px) {
      margin: 0;
    }
  }

  &__btn-image {
    @media (max-width: 767.98px) {
      display: none;
    }
  }

  &__avatar-1 {
    height: 90px;
    width: 90px;
    @extend %tpl_1;
    top: 70px;
    z-index: 2;
    right: 10.3%;
    @media (max-width: 1226px) {
      top: 45px;
    }
    @media (max-width: 479.98px) {
      top: 35px;
    }
  }

  &__avatar-2 {
    height: 90px;
    width: 90px;
    @extend %tpl_1;
    top: 204px;
    left: 10px;
    z-index: 2;
    @media (max-width: 1226px) {
      top: 380px;
    }
  }

  &__scree {
    @extend %tpl_1;
    top: 110px;
    left: 13.7%;
    @media (max-width: 767.98px) {
      & img {
        max-width: 100%;
      }
    }
    @media (max-width: 479.98px) {
      left: 7%;
    }
  }

  &__card {
    @extend %tpl_1;
    top: 251px;
    right: 48px;
    z-index: 2;
    @media (max-width: 1296px) {
      right: 0;
      left: 55%;
      & img {
        max-width: 100%;
      }
    }
    @media (max-width: 479.98px) {
      left: 45%;
      top: 300px;
    }
  }

  &__manage {
    @extend %tpl_1;
    top: 537px;
    left: 10px;
    @media (max-width: 1226px) {
      top: 600px;
    }
    @media (max-width: 767.98px) {
      & img {
        max-width: 100%;
      }
    }
    @media (max-width: 479.98px) {
      top: 620px;
      right: 20%;
    }
  }

  &__circle {
    @media (max-width: 1226px) {
      top: 200px;
    }
    @media (max-width: 479.98px) {
      top: 550px;
      left: 70px;
    }
  }

  &__subtitle {
    margin: 0;
    text-align: center;
  }

  &__item {
    text-decoration: none;
  }
  &__subtitle {
    @include font(22px, 31 / 22 * 100%, 0.48px);
    color: $color_2;
    margin-bottom: 24px;
  }
}

.logos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-items: center;
  align-items: center;
  margin: 0 47px;
  @extend %tpl_2;
  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  @media (max-width: 767.98px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  @media (max-width: 479.98px) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  &__item {
    height: 100px;
  }
}

// ---------------------------------------------------------------------------
.features {
  padding-bottom: 100px;
  @media (max-width: 479.98px) {
    padding-bottom: 50px;
  }

  &__container {
    padding-top: 100px;
    @media (max-width: 767.98px) {
      padding-top: 70px;
    }
  }
  &__description {
    max-width: 554px;
    margin: 0 auto;
    margin-bottom: 56px;
  }
  &__list {
    @extend %tpl_2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    margin: 0 47px;
    @media (max-width: 767.98px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
    @media (max-width: 479.98px) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(8, 1fr);
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
    @media (max-width: 767.98px) {
      padding: 30px 0px;
    }
    @media (max-width: 479.98px) {
      padding: 15px 0px;
    }
  }
  &__icon {
    height: 80px;
    margin-bottom: 31px;
  }
  &__name {
    @include font(24px, 34 / 24 * 100%, 0.02px);
    text-align: center;
    color: $color_2;
    margin: 0;
    @media (max-width: 1280px) {
      @include font(16px, 34 / 24 * 100%, 0.02px);
    }
    @media (max-width: 991.98px) {
      @include font(14px, 34 / 24 * 100%, 0.02px);
    }
    @media (max-width: 767.98px) {
      @include font(16px, 34 / 24 * 100%, 0.02px);
    }
    @media (max-width: 479.98px) {
      @include font(18px, 34 / 24 * 100%, 0.02px);
    }
  }
}

// ---------------------------------------------------------------------------
.collaborate {
  padding-top: 80px;
  margin-bottom: 199px;
  @media (max-width: 991.98px) {
    padding-top: 0;
  }
  @media (max-width: 479.98px) {
    margin-bottom: 50px;
  }
  &__container {
    display: flex;
    min-height: 585px;
    @media (max-width: 991.98px) {
      flex-direction: column-reverse;
    }
  }

  &__left {
    position: relative;
    flex: 0 1 61.8%;
    min-height: 585px;
  }

  &__temlate {
    @extend %tpl_1;
    left: 6%;
    z-index: 100;
    img {
      width: 100%;
    }
  }

  &__invite {
    @extend %tpl_1;
    top: 293px;
    left: 41.07%;
    z-index: 100;
    @media (max-width: 360px) {
      left: 10%;
    }
    img {
      width: 100%;
    }
  }

  &__background {
    @extend %tpl_1;
    height: 504px;
    top: 0;
    left: 11.99%;
    @media (max-width: 575px) {
      top: 100px;
      left: 0;
    }
    img {
      width: 100%;
    }
  }

  &__circle {
    top: 180px;
    left: 82.65%;
    background-color: #ffc123ff;
    @media (max-width: 750px) {
      top: 480px;
      left: 15%;
    }
  }

  &__right {
    flex: 0 1 480px;
    margin-top: 11px;
    padding-left: 15px;
    @media (max-width: 991.98px) {
      min-width: 100%;
      margin-bottom: 30px;
    }
    @media (max-width: 479.98px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 0;
    }
  }

  &__title {
    text-align: start;
    max-width: 403px;
    @media (max-width: 991.98px) {
      max-width: 100%;
    }
    @media (max-width: 479.98px) {
      text-align: center;
    }
  }

  &__description {
    max-width: 403px;
    margin-bottom: 35px;
    @media (max-width: 991.98px) {
      text-align: start;
      max-width: 100%;
    }
    @media (max-width: 479.98px) {
      text-align: center;
    }
  }

  &__text {
    @include font(16px, 29px / 16px * 100%, 0.36px);
    color: $color_2;
    margin: 0;
    text-align: start;
    margin-left: 36px;
    max-width: 380px;
    @media (max-width: 479.98px) {
      margin-left: 0;
      text-align: center;
    }
  }

  p:nth-child(3) {
    margin-bottom: 12px;
  }

  p:nth-child(4) {
    margin-bottom: 20px;
  }

  p:nth-child(5) {
    margin-bottom: 44px;
  }

  &__button {
    @media (max-width: 479.98px) {
      margin: 0 auto;
    }
  }
}

// ---------------------------------------------------------------------------
.build {
  margin-bottom: 180px;
  &__container {
    display: flex;
    min-height: 574px;
    @media (max-width: 991.98px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__left {
    flex: 0 1 576px;
    margin-top: 55px;
    margin-left: 47px;
    @media (max-width: 991.98px) {
      flex: 0 1 0px;
      margin-bottom: 50px;
    }
    @media (max-width: 479.98px) {
      margin-left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    max-width: 330px;
    text-align: start;
    @media (max-width: 991.98px) {
      max-width: 100%;
    }
    @media (max-width: 479.98px) {
      text-align: center;
    }
  }
  &__description {
    max-width: 414px;
    text-align: start;
    margin-bottom: 43px;
    @media (max-width: 991.98px) {
      text-align: start;
      max-width: 100%;
    }
    @media (max-width: 479.98px) {
      text-align: center;
    }
  }
  &__review {
    display: flex;
    max-width: 432px;
    margin-bottom: 49px;
    @media (max-width: 991.98px) {
      max-width: 100%;
    }
  }
  &__avatar {
    margin-right: 24px;
  }
  &__text {
    p {
      @include font(16px, 25px / 16px * 100%, 0.36px);
      margin: 0;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
    @media (max-width: 991.98px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  &__right {
    position: relative;
    flex: 0 1 624px;
    @media (max-width: 991.98px) {
      max-width: 624px;
      width: 100%;
    }
  }
  &__image-1 {
    @extend %tpl_1;
    top: 12.8%;
    right: 44%;
    @media (max-width: 547px) {
      top: 7%;
    }
    img {
      width: 100%;
    }
  }
  &__image-2 {
    @extend %tpl_1;
    top: 0;
    left: 20%;
    img {
      width: 100%;
    }
  }
}
